/*Define chart size
#chart {
    width: 960px;
    height: 500px;
    
}

text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

rect {
    fill: none;
    stroke: #fff;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.grandparent rect {
    fill: #fcfcfa;
    stroke: none;
}

.grandparent:hover rect {
    fill: #ddd;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #bbb;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 210px;
    height: auto;
    padding: 6px;
    background: #333;
    background-opacity: 0.9;
    color: #fff;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
}

div.tooltip h4 {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

div.tooltip table {
    margin: 5px auto 0 auto;
    width: 100%;
}

div.tooltip table tr {
    border-bottom: 1px solid #666;
}

div.tooltip table tr:last-child {
    border-bottom: none;
}

div.tooltip table td {
    padding: 2px 0;
}

div.tooltip table .key {
    border-right: 1px solid #666;
    text-align: left;
}

div.tooltip table .value {
    text-align: right;
}

.textdiv {
    padding: 5px;
    pointer-events: none;
    text-align: center;
}
*/